:global {
  /* Position and sizing of burger button */
  & .bm-burger-button {
    position: fixed;
    width: 20px;
    height: 20px;
    left: initial;
    left: calc(100vw - 60px);
    top: 30px;
    transition: 1s;
    mix-blend-mode: difference;
  }

  /* Color/shape of burger icon bars */
  & .bm-burger-bars {
    background: #ffffff;
  }

  & .scrolled .bm-burger-bars {
    background: #aaa;
  }

  /* Position and sizing of clickable cross button */
  & .bm-cross-button {
    height: 24px;
    width: 24px;
    right: 2rem !important;
    top: 2rem !important;
  }

  /* Color/shape of close button cross */
  & .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  & .bm-menu {
    background-color: var(--menu-background-color);
    padding: 2.5rem 1.5rem 0;
    font-size: 1.8rem;
  }

  /* Morph shape necessary with bubble or elastic */
  & .bm-morph-shape svg {
    fill: var(--menu-background-color) !important;
  }

  /* Wrapper for item list */
  & .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  & .bm-item {
    outline: none;
  }

  & .bm-item a {
    color: var(--menu-item-color);
    text-decoration: none;

    &:hover {
      color: var(--menu-item-hover);
      text-decoration: underline;
    }

    &[aria-current] {
      position: relative;
      pointer-events: none;
      opacity: 0.6;

      &:before {
        position: absolute;
        content: '›';
        left: -25px;
        text-decoration: none;
        font-family: 'Roboto Mono';
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  /* Styling of overlay */
  & .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
