.hero {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem 1rem 2rem;
  background-color: #511149;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/polygons.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  @media screen and (min-width: 40em) {
    background-attachment: fixed;
  }
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  kerning: auto;
  text-rendering: optimizeLegibility;
  font-size: var(--h1-font-size);

  max-width: 36rem;
  color: #fff;
  line-height: 1.1;
  margin-top: calc(var(--base-line-height) * 1rem);
  hyphens: manual;
}

.subheader {
  color: #f0d876;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: calc(var(--base-font-size) * 1.1);
  margin-top: calc(var(--base-line-height) * 2rem);
  margin-bottom: 1rem;
}

.tech {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & li {
    margin: 0;
    width: 6rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    & img {
      height: 3rem;
      opacity: 0.8;
    }

    & span {
      display: block;
      visibility: hidden;
      font-family: 'Roboto Mono';
      font-weight: 300;
      font-size: var(--small-font-size);
    }

    &:hover {
      & span {
        visibility: visible;
      }
    }
  }
}

.item {
  display: flex;
  flex-flow: row wrap;
}
