:root {
  --menu-background-color: #491253;
  --menu-item-color: #ecf0f1;
  --menu-item-hover: #f1d87b;

  --primary-logo-color: #84d5f7;
  --secondary-logo-color: #dcdda4;
  --default-logo-color: #fff;

  --header-color: #333;
}
