:root {
  --menu-background-color: #491253;
  --menu-item-color: #ecf0f1;
  --menu-item-hover: #f1d87b;

  --link-color: #333;
  --link-hover-color: #380d42;

  --header-color: #333;
  --base-font-color: #333;
}

body {
  color: var(--base-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

/* Text and background color for light mode */
body {
  color: #000;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #333;
  }
}