.cta {
  border-image: var(--main-gradient);
  border-image-slice: 1;
  border-width: 2px;

  color: var(--primary-color-dark);
  font-family: 'Roboto';
  font-size: calc(var(--min-font-size) * 1rem);
  background: transparent;
  padding: 0.5rem 2rem;

  &:hover,
  &:focus {
    background-image: var(--main-gradient);
    color: #fff;
    border-color: transparent;
    border-image: none;
    box-shadow: 0px 0px 10px var(--primary-color-darkest);
  }

  &:active {
    background-image: var(--main-gradient-reverse);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}

.cta {
  margin-top: calc(var(--base-line-height) * 1rem);
}
