@import '../../styles/_mq.css';
@import '../../styles/_form.css';

.img {
  width: 100%;
  padding: 20px;
  display: none;
}

@media (--phablet-viewport) {
  .img {
    display: block;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey-section {
  background-color: #eee;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.dark-section {
  background-color: #23005e;
  color: var(--secondary-color-light);
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    background-image: url('../../assets/stars-bg.png');
    background-size: 120%;
    animation: animatedBackground 30s ease infinite;
    background-position: 0 0;
    background-attachment: fixed;
  }

  h1,
  h2,
  h3,
  p {
    color: var(--primary-color-main);
  }
}

.icon-svg {
  height: calc(var(--base-font-size) * 3);
  margin-bottom: 0.5rem;

  svg {
    height: 100%;
  }
}

.icon {
  width: calc(var(--base-font-size) * 3);
  height: calc(var(--base-font-size) * 3);
  display: block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 50px;
}

.icon--design {
  background-image: url('../../assets/icons/web.svg');
}

.icon--quality {
  background-image: url('../../assets/icons/mobile.svg');
}

.icon--code {
  background-image: url('../../assets/icons/desktop.svg');
}

.media {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  & .media-figure {
    margin-left: 0;
    flex-basis: 100%;

    @media screen and (min-width: 70em) {
      margin-left: 2rem;
      flex-basis: content;
    }
  }

  & .media-body {
    flex: 1;
    flex-basis: 100%;

    @media screen and (min-width: 70em) {
      flex-basis: content;
    }
  }

  & .media--center {
    align-items: center;
  }
}

.services-link {
  text-decoration: none;
  transition: all 1s ease-out;

  h3 {
    position: relative;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      box-shadow: inset 0 -0.475em 0 rgba(213, 82, 255, 0.3);
      text-decoration: none;
      transform: rotate(-0.5deg);
    }
  }

  &:hover h3,
  &:focus h3 {
    text-decoration: none;
    color: var(--primary-color-darkest);

    &:before {
      background-color: rgba(213, 82, 255, 0.3);
      box-shadow: inset 0 -0.475em 0 transparent;
    }
  }

  &:hover svg {
    transform: rotateZ(5deg);
    fill: url(#icon-gradient-hover);
  }
}

.tech {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & li {
    margin: 0;
    width: 6rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    & svg {
      height: 3rem;
      opacity: 0.8;
    }

    & span {
      display: block;
      visibility: hidden;
      font-family: 'Roboto Mono';
      font-weight: 300;
      font-size: var(--small-font-size);
    }

    &:hover {
      & span {
        visibility: visible;
      }
    }
  }
}
