@import '../../styles/base.css';

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  overflow: hidden;
  z-index: 3;
}

:global {
  & .scrolled header {
    background-color: rgba(0, 0, 0, 0);
  }
}

.container {
  height: 100vh;
  background-color: #fff;

  @supports (display: grid) {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'main'
      'footer';

    grid-template-rows: 1fr auto-fit;
  }
}

main {
  grid-area: main;
}
