.section {
  position: relative;
}

.container {
  max-width: calc(var(--max-content-width) * 1rem);
  margin-left: auto;
  margin-right: auto;
  padding: var(--grid-gap);
}

.blog {
  max-width: calc(var(--max-blog-content-width) * 1rem);
  hyphens: manual;
}

.full-width {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
