@import '../../styles/_mq.css';
@import '../../styles/_form.css';

.form {
  & label {
    font-size: 1.2rem;
  }

  & input,
  & textarea {
    display: block;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #eee;
    color: #444;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  & textarea {
    font-size: 1rem;
  }
}

@media (--phablet-viewport) {
  .form input,
  .form textarea {
    width: 30vw;
  }
}
