@import '../../styles/_mq.css';
@import '../../styles/_form.css';

.form {
  & label {
    font-size: 1.2rem;
  }

  & input,
  & textarea {
    display: block;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #eee;
    color: #444;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  & textarea {
    font-size: 1rem;
  }
}

@media (--phablet-viewport) {
  .form input,
  .form textarea {
    width: 30vw;
  }
}

.content-wrapper {
  position: relative;

  &:focus-within {
    .tips {
      @media (--phablet-viewport) {
        display: block;
      }
    }
  }
}

.tips {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 2rem;
  left: 31.5vw;
  padding: 1rem;
  font-size: 0.7rem;
  bottom: 0;
  box-shadow: 0 10px 40px rgba(47, 47, 47, 10%);

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    bottom: 40px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid #fff;
    box-shadow: 0 10px 40px rgba(47, 47, 47, 10%);
  }

  ul {
    padding-left: 1rem;
  }
}

.cta-wrapper {
  position: relative;
  &:focus-within {
    .submit-tips {
      @media (--phablet-viewport) {
        display: block;
      }
    }
  }
}

.submit-tips {
  display: none;
  position: absolute;
  left: 8rem;
  padding: 1rem;
  font-size: 0.7rem;
  bottom: 0;
}

.email-wrapper {
  position: relative;
  &:focus-within {
    .email-tips {
      @media (--phablet-viewport) {
        display: block;
      }
    }
  }
}

.email-tips {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 2rem;
  left: 31.5vw;
  padding: 1rem;
  font-size: 0.7rem;
  bottom: 0;
  box-shadow: 0 10px 40px rgba(47, 47, 47, 10%);

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    bottom: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid #fff;
    box-shadow: 0 10px 40px rgba(47, 47, 47, 10%);
  }
}
