.footer {
  grid-area: footer;
  background: url('../../assets/polygons.jpg') bottom center;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;

  & p {
    text-align: center;
    color: white;
    line-height: 1.6;
    margin-bottom: 0;
    font-size: var(--small-font-size);
  }
}
