.tech {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & li {
    margin: 0;
    width: 6rem;
    height: 3rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    & svg,
    & img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
      margin-bottom: 0.5rem;
    }

    & span {
      display: block;
      visibility: hidden;
      font-family: 'Roboto Mono';
      font-weight: 300;
      font-size: var(--small-font-size);
      color: var(--secondary-color-main);
    }

    &:hover {
      & span {
        visibility: visible;
      }
    }
  }
}
