.tech {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & li {
    margin: 0;
    width: 6rem;
    height: 3rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;

    & svg,
    & img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
      margin-bottom: 0.5rem;
    }

    & span {
      display: block;
      visibility: hidden;
      font-family: 'Roboto Mono';
      font-weight: 300;
      font-size: var(--small-font-size);
      color: var(--secondary-color-main);
    }

    &:hover {
      & span {
        visibility: visible;
      }
    }
  }
}

.dark-section {
  background-color: #23005e;
  color: var(--secondary-color-light);
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    background-image: url('../../assets/stars-bg.png');
    background-size: 120%;
    animation: animatedBackground 20s linear infinite;
    background-position: 0 0;
    background-attachment: fixed;
  }

  h1,
  h2,
  h3,
  p {
    color: var(--primary-color-main);
  }
}
